[submodule ".emacs.d/site-lisp/popwin-el"]
	path = .emacs.d/site-lisp/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule ".emacs.d/site-lisp/ac-slime"]
	path = .emacs.d/site-lisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule ".emacs.d/site-lisp/bash-completion"]
	path = .emacs.d/site-lisp/bash-completion
	url = https://github.com/szermatt/emacs-bash-completion.git
[submodule ".emacs.d/site-lisp/yaml-mode"]
	path = .emacs.d/site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
